<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Integrador - Nosotros</title>
</head>
<body>
    <header class="main-header">
        <input type="checkbox" id="menu">
  
        <nav class="nav-bar">
          <ul class="nav-bar__nav-list">
            <li class="nav-bar__nav-item">
              <a href="/index.html" class="nav-bar__nav-link">Inicio</a>
            </li>
            <li class="nav-bar__nav-item">
              <a href="/views/alta.html" class="nav-bar__nav-link">Alta</a>
            </li>
            <li class="nav-bar__nav-item">
              <a href="/views/nosotros.html" class="nav-bar__nav-link">Nosotros</a>
            </li>
            <li class="nav-bar__nav-item">
              <a href="/views/contacto.html" class="nav-bar__nav-link">Contacto</a>
            </li>
          </ul>
        </nav> <!-- .nav-bar -->
  
        <div class="search-bar">
          <div class="search-bar__logo-container">Logo</div>
          <form action="#" class="search-bar__form-container">
            <label for="busqueda" class="search-bar__form-label">Buscar</label>
            <input type="search" class="search-bar__form-search" id="busqueda">
            <input type="submit" class="search-bar__form-submit" value="Buscar">
          </form>
          <div class="search-bar__carrito-container">C</div>
          <div class="menu-toogle">
            <label for="menu" class="menu-toogle__label">
              <span class="menu-toogle__top-bread"></span>
              <span class="menu-toogle__meat"></span>
              <span class="menu-toogle__bottom-bread"></span>
            </label>
          </div>
        </div> <!-- .search-bar -->
  
      </header> <!-- main-header -->
    <h1>¿Quiénes somos?</h1>
    <p>Somos la marca de maquillaje que celebra la diversidad, la cultura y la belleza de Latinoamérica. Sabemos que el amor propio es la mejor herramienta para empoderar a quienes buscan todos los días perseguir sus sueños con coraje y una sonrisa.  Somos Vogue, la marca que crea productos de tendencia, diseñados y pensados en ti, que buscas calidad, duración y precios increíbles.</p>

    <h2>Primeros pasos, ensayo y error</h2>
    <p>Hace más de 60 años, María Chávez tuvo una visión pionera y audaz: celebrar y honrar a la mujer latina a través de productos de belleza innovadores y de alta calidad. Su legado sigue vivo en la actualidad, en cada uno de nuestros productos y en la misión de hacer sentir a las mujeres latinas empoderadas y seguras de sí mismas. Evolucionamos hasta llegar a convertirnos en una marca completa de maquillaje, con productos para ojos, rostro, labios y, especialmente, uñas, que realcen la belleza de toda Latinoamérica.</p>

    <p>En 2013, Grupo L'Oréal adquirió Vogue con la visión de expandir nuestra marca a toda Latinoamérica. Hoy estamos presentes en más de 13 países, como Colombia, Argentina, Chile, Perú, Uruguay, Bolivia, Panamá, entre otros, celebrando la belleza de las mujeres latinas con productores innovadores y pensados en ellas.</p>

    <h2>Una marca completa de maquillaje</h2>
    <p>En el 2019 se inauguró nuestra fábrica de VOGUE  en Colombia, como la primera planta de energía 100% renovable del Grupo en América Latina. Hemos creado todo tipo de productos cosméticos para la mujer colombiana desde 1955 siendo reconocidos como la marca de cosméticos más popular de Colombia  permitiendo exportar nuestros productos a 14 países de forma directa y llegar a consumidores en 4  continentes. Esto nos permite estar a la vanguardia de las tendencias y tecnologías del mercado, para ofrecer a nuestras consumidoras productos que realcen su belleza.</p>

    <h3> Política de Calidad:</h3>
   

    Vogue es una marca AUTÉNTICA, ALEGRE, AMIGABLE, LATINA, CONFIABLE, EMPRENDEDORA y ENÉRGICA. Estos valores nos guían en cada paso que damos y en cada producto que creamos, siempre enfocados en brindar la mejor calidad.
    
    <h3>Misión:</h3>
    <p>VOGUE tiene como misión entregar en tiempo y forma promesas de belleza que cumplan con los más altos estándares de calidad, teniendo la mejor relación costo beneficio del mercado, todo esto en un ambiente seguro, ético para que nuestra gente pueda desarrollarse y crecer siempre buscando ser una empresa amigable con el medio ambiente.</p>
    
    <h3>Visión:</h3>
    <p> VOGUE tiene como visión ser el aliado estratégico del negocio en el crecimiento del mercado de belleza en América, siempre buscando mejorar nuestra confiabilidad, valor agregado y flexibilidad para llegar a mas gente.</p>
   
    <script type="module" src="/main.js"></script>
</body>
</html>