.section-cards {
    background-color: #030637;
    padding: 1rem;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
h1 {color: white;
}
.resultado {color: white;
}